@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#lpHero .video-container {
    width: 100%;
    height: 80vh;
    font-family: "Poppins", sans-serif;
    background-image: url('/images/bkgd_g.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

}

#lpHero .overlay {
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.6);
   
}

/* Reduzindo tamanho do logo */
#lpHero .logo {
    margin-bottom: 30px;
    width: 150px; /* Diminui o tamanho da logo */
}

/* Ajustando o título para um layout mais refinado */
#lpHero h1 {
    font-size: 2rem; /* Reduzindo tamanho do título */
    margin-bottom: 1rem;
    font-weight: 600; /* Mantém a ênfase, mas menos "bold" */
}

/* Reduzindo o subtítulo */
#lpHero h5 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

/* Estilizando o botão para ficar mais compacto */
#lpHero button {
    margin-top: 30px;
    padding: 8px 24px;
    font-size: 0.9rem; /* Reduzindo o texto do botão */
    background: linear-gradient(#1ebc15, #057803);
    border: none;
}

/* Reduzindo a fonte e ajustando o espaçamento da localização */
#lpHero p {
    margin-top: 20px;
    font-size: 1rem; /* Tamanho menor para o texto da localização */
}

/* Ícone de localização menor */
#lpHero .fw-bold.h3 {
    font-size: 1.5rem; /* Diminuindo o ícone */
}

#lpHero .fw-bold.h4 {
    font-size: 1.2rem; /* Diminuindo o texto da localização */
}

/* Ajustes adicionais para responsividade em telas menores */
@media (max-width: 768px) {
    #lpHero h1 {
        font-size: 1.3rem;
    }
    
    #lpHero h5 {
        font-size: 1rem;
    }

    #lpHero .logo {
        width: 120px;
    }

    #lpHero button {
        padding: 6px 20px;
        font-size: 0.8rem;
    }

    #lpHero p {
        font-size: 0.9rem;
    }
}
