.box {
    display: grid;
    grid-template-areas:
        "a d"
        "b e";
    grid-template-columns: 50% 50%;
}

.box div {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

#lp-projects h4 {
    margin: 0px !important;
}

.item-a {
    grid-area: a;
    background-image: url('/images/work/25.jpg');
    background-position: top;
    margin-bottom: 5px;
    margin-right: 5px;

}

.item-b {
    grid-area: b;
    background-image: url('/images/work/12.jpg');
    background-position: center !important;
    margin-right: 5px;
}

.item-c {
    grid-area: c;
    background-image: url('/images/work/09.jpg');
    height: 407px !important;
    background-position: right;
    margin: 0 5px;
}

.item-d {
    grid-area: d;
}

.item-e {
    grid-area: e;
    background-image: url('/images/work/11.jpg');
}

@media (min-width: 768px) {
    .box {
        display: grid;
        grid-template-areas:
            "a c d"
            "b c e";
        grid-template-columns: 30% 40% 30%;
    }

    .item-a, .item-b{
        margin-right: 0px;
    }
}