li {
  list-style-type: none;
}

.cookies{
  position: fixed;
  z-index: 50;
  background-color: rgba(24, 23, 23, 0.9);
  color: white;
  bottom: 2rem;
  left: 2rem;
  right: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 1rem;
  border-radius: 12px;
  max-width: 700px;
}

.nav-link {
  letter-spacing: 1px;
}

.nav-link:hover {
  text-decoration: underline;
}

.bg-green {
  background-color: #00883B !important;
}

.bg-green-light {
  background: linear-gradient(45deg, rgba(129, 205, 71, 0.4), rgba(75, 192, 36, 0.6), rgba(10, 199, 10, 0.4));
  backdrop-filter: #ebebeb;
}

.bg-alva {
  background: linear-gradient(to right, rgba(79, 255, 245), rgba(60, 115, 241), rgba(233, 37, 216), rgba(252, 150, 70));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-success {
  background-color: #00883b !important;
}

.text-green {
  color: #00883B !important;
}



.m-start {
  margin-top: 93px;
}


.carousel-control-prev,
.carousel-control-next {
  opacity: 0.8;
}

.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon {
  background-color: #000000;
  border-radius: 100%;
}

#contact .social-media {
  max-width: 430px !important;
  margin: auto;
}

#header .navlink {
  padding-left: 20px !important;
  padding-right: 20px !important;
  border-radius: 24px;
}

#header .nav-link.active {
  color: white !important;
  background-color: #00883b;
  border-radius: 24px;
}

#gallery .nav-link {
  color: #000000;
}

#gallery .nav-link.active {
  color: #00883b !important;
  font-weight: bold;
}

#gallery .img-gallery:hover {
  transform: scale(1.05);
}

#gallery .img-gallery {
  max-height: 230px !important;
  height: 100% !important;
  width: 100% !important;
  cursor: pointer;
  transition: all 0.5s;
}

#products .carousel.slide {
  background-color: #f5f5f580;
}

#table .table {
  width: 1300px !important;
}

#footer .nav-link,
#contact .nav-link {
  animation: bounce 1s ease infinite;
}

#footer .bg-black {
  background-color: #202020 !important;
}

#about .test {
  background-color: #ffffff44;
}

@keyframes bounce {
  70% {
    transform: translateY(0%);
  }

  80% {
    transform: translateY(-15%);
  }

  90% {
    transform: translateY(0%);
  }

  95% {
    transform: translateY(-7%);
  }

  97% {
    transform: translateY(0%);
  }

  99% {
    transform: translateY(-3%);
  }

  100% {
    transform: translateY(0);
  }
}


.waves{
  overflow: hidden;
  height: 200px;
}

